.NotFoundPageContainer {
  margin-top: 10%;
  display: grid;
  place-items: center;
}

.homePageLink {
  color: black;
  text-decoration: underline;
}

.homePageLink:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

.sadFace {
  color: rgb(207, 42, 27);
}
