@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  size: 100%;
  background: linear-gradient(#dcf8ef, #fee2f8) fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
